<h2><%= t('.sign_up') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

<%= f.fields_for :addresses do |address| %>
<p>住所は後でも登録できるよ</p>
  <p>住所</p>
  <div class="field">
    <%= address.label :氏名 %>
    <%= address.text_field :name %>
  </div>

  <div class="field">
    <%= address.label :郵便番号 %>
    <%= address.text_field :zip %>
  </div>

  <div class="field">
    <%= address.collection_select :prefecture_id, Prefecture.all, :id, :name, :include_blank => '' %>
  </div>

  <div class="field">
    <%= address.label :市町村 %>
    <%= address.text_field :city %>
  </div>

  <div class="field">
    <%= address.label :町名番地 %>
    <%= address.text_field :town %>
  </div>

  <div class="field">
    <%= address.label :建物名 %>
    <%= address.text_field :building %>
  </div>
<% end %>

  <div class="actions">
    <%= f.submit t('.sign_up') %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
