<div class="search_field">
  <%= search_form_for @q do |f| %>
    <span uk-icon="search"></span>
    <%= f.search_field :name_cont, placeholder: '商品名' %>
    <%= f.collection_select :prefecture_id_eq, JpPrefecture::Prefecture.all, :code, :name, :include_blank => '販売範囲' %>
    <%= f.submit %>
  <% end %>
</div>

<div class="uk-overflow-auto">
  <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
    <thead>
      <tr>
        <th class="uk-table-shrink"></th>
        <th class="uk-width-small uk-text-center">商品名</th>
        <th class="uk-table-shrink uk-text-center">販売地域</th>
        <th class="uk-table-shrink uk-text-center">価格</th>
        <th class="uk-table-shrink uk-text-center">評価</th>
      </tr>
    </thead>
    <tbody>
      <% @souvenirs.each do |souvenir| %>
        <tr>
          <td class="uk-table-link uk-text-center">
            <%= link_to image_tag(souvenir.image.url, :size => '100x100'), souvenir_path(souvenir.id), class: "uk-link-reset" %>
          </td>
          <td class="uk-table-link uk-text-center">
            <%= link_to souvenir.name, souvenir_path(souvenir.id), class: "uk-link-reset" %>
          </td>
          <td class="uk-table-link uk-text-center">
            <%= link_to souvenir.prefecture.name, souvenir_path(souvenir.id), class: "uk-link-reset" %>
          </td>
          <td class="uk-table-link uk-text-center">
            <%= link_to "￥#{souvenir.price}", souvenir_path(souvenir.id), class: "uk-link-reset" %>
          </td>
          <td class="uk-table-link uk-text-center">
            <span class="rate_average" data-score="<%= souvenir.reviews.average(:rate).to_f.round(1) %>"></span><span class="uk-margin-small-left"><%= souvenir.reviews.count %></span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @souvenirs %>

<script>
  $('.rate_average').raty({
    readOnly: true,
    half: true,
    path: '/assets/',
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>
