<% if @souvenir.nil? %>
  ないよ
<% end %>
<%= image_tag(@souvenir.image.url, :size => '100x100') %>
<%= @souvenir.name %>
<%= @souvenir.price %>
<%= @souvenir.prefecture.name %>
<p>レビュー一覧</p>
<div id="error_explanation">
  <%= render partial: 'reviews/error', locals: { review: @review } %>
</div>
<div id="reviews_area">
  <%= render partial: 'reviews/index', locals: { reviews: @reviews, souvenir: @souvenir } %>
</div>
<%= render partial: 'reviews/form', locals: { review: @review, souvenir: @souvenir } %>

<%= form_with(model: @cart_item, local: true) do |f| %>
  <%= f.label :quantity %>
  <%= f.number_field :quantity, value: 1, class: "form-control", id: 'souvenir_quantity', min: 1 %>
  <%= f.hidden_field :souvenir_id, value: @souvenir.id %>
  <%= f.submit 'カートに入れる' %>
<% end %>
