<div uk-grid>
  <div><%= image_tag(@souvenir.image.url, :size => '300x300') %></div>
  <div>
    <h1 class="uk-heading-small"><%= @souvenir.name %></h1>
    <p><%= @souvenir.prefecture.name %></p>
    <p class="uk-text-right">￥<%= @souvenir.price %></p>
    <p class="uk-text-right"><span class="rate_average" data-score="<%= @souvenir.reviews.average(:rate).to_f.round(1) %>"></span>
    <%= @souvenir.reviews.count %>件の評価</p>
    <%= form_with(model: @cart_item, local: true) do |f| %>
      <%= f.label :quantity %>
      <%= f.number_field :quantity, value: 1, class: "form-control", id: 'souvenir_quantity', min: 1 %>
      <%= f.hidden_field :souvenir_id, value: @souvenir.id %>
      <%= f.submit 'カートに入れる' %>
    <% end %>
  </div>
</div>

<p class="uk-text-lead">レビュー</p>
<% if @souvenir.reviews.first.id.nil? %>
  <p>まだレビューがありません</p>
<% end %>
<div id="error_explanation">
  <%= render partial: 'reviews/error', locals: { review: @review } %>
</div>
<div id="reviews_area">
  <%= render partial: 'reviews/index', locals: { reviews: @reviews, souvenir: @souvenir } %>
</div>
<%= render partial: 'reviews/form', locals: { review: @review, souvenir: @souvenir } %>

<script>
  $('.rate_average').raty({
    readOnly: true,
    half: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>
