<p>購入確認</p>

<% @amount = 0 %>
<% @cart_items.each do |item| %>
  <%= item.souvenir.name %>
  <%= item.souvenir.price %>
  <%= item.souvenir.prefecture.name %>
  <%= item.quantity %>個
  <% @add_amount = item.souvenir.price * item.quantity %>
  <% @amount += @add_amount %>
<% end %>
合計：<%= @amount %>円

<%= form_with local: true, url: pay_cart_path(current_cart.id) do |form| %>
  <%= form.hidden_field :amount, value: @amount %>
  <script
    type="text/javascript"
    src="https://checkout.pay.jp"
    class="payjp-button"
    data-key="<%= ENV["PAYJP_PUBLIC_KEY"] %>">
  </script>
<% end %>

<%= link_to '戻る', :back %>
