<ul>
  <% reviews.each do |review| %>
    <% if review.id.present? %>
      <li class="review_list">
        <div class="review_comment" id ="this_review_<%= review.id %>">
          <p class="review_rate" data-score="<%= review.rate %>"></p>
          <p><%= review.comment %></p>
          <%= link_to "編集", edit_souvenir_review_path(souvenir, review), remote: true %>
          <%= link_to "削除", souvenir_review_path(review.souvenir_id, review.id), method: :delete, remote: true,
                                        data: { confirm: "本当に削除しますか?"} %>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>
<script>
  $('.review_rate').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    half: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>"
  });
</script>
