<!DOCTYPE html>
<html>
  <head>
    <title>おみやげ横丁</title>
    <%= favicon_link_tag('favicon.ico') %>
    <script
      src: "https://js.pay.jp/"
      type: "text/javascript">
    </script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <!-- <img src="../images/logo.png"> -->
      <nav>
        <% if user_signed_in? %>
        <%= link_to '新規登録', edit_user_registration_path(current_user.id) %>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to '新規登録', new_user_registration_path %>
          <%= link_to 'ログイン', new_user_session_path %>
        <% end %>
        <%= link_to 'かーと', cart_path(current_cart) %>
        <%= link_to 'おみやげいちらん', souvenirs_path %>
      </nav>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
