<!DOCTYPE html>
<html>
  <head>
    <title>おみやげ横丁</title>
    <%= favicon_link_tag('favicon.ico') %>
    <script
      src: "https://js.pay.jp/"
      type: "text/javascript">
    </script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">

      <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
          <ul class="uk-navbar-nav">
            <li><a class="uk-navbar-toggle" uk-navbar-toggle-icon href="#offcanvas-slide" uk-toggle></a></li>
            <li><%= link_to root_path do %><%= image_tag asset_path("logo.png") %><% end %></li>
            <li><%= link_to '商品を探す', souvenirs_path %></li>
          </ul>
        </div>
        <div class="uk-navbar-right">
          <ul class="uk-navbar-nav">
            <% if current_user.try(:seller?) %>
              <li><%= link_to '商品登録', new_souvenir_path %></li>
              <li><%= link_to '注文一覧', orders_path %></li>
            <% elsif user_signed_in? %>
              <li><%= link_to '注文履歴', orders_path %></li>
              <li><%= link_to 'カート', cart_path(current_cart) %></li>
            <% else %>
              <li><%= link_to 'ログイン', new_user_session_path %></li>
              <li><%= link_to 'カート', cart_path(current_cart) %></li>
            <% end %>
          </ul>
        </div>
      </nav>

      <div id="offcanvas-slide" uk-offcanvas>
        <div class="uk-offcanvas-bar">
          <ul class="uk-nav uk-nav-default">
            <li class="uk-active"><a href="#">MENU</a></li>
            <li><%= link_to 'トップ', root_path %></li>
            <li class="uk-nav-header">商品を探す</li>
            <li><%= link_to '商品一覧', souvenirs_path %></li>
            <% if current_user.try(:seller?) %>
              <li><%= link_to '商品登録', new_souvenir_path %></li>
            <% end %>
            <li class="uk-nav-header">ユーザー</li>
            <% if current_user.try(:seller?) %>
              <li><%= link_to '注文一覧', orders_path %></li>
              <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            <% elsif user_signed_in? %>
              <li><%= link_to '登録情報変更', edit_user_registration_path %></li>
              <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to '新規登録', new_user_registration_path %></li>
              <li><%= link_to 'ログイン', new_user_session_path %></li>
            <% end %>
            <% unless current_user.try(:seller?) %>
              <li class="uk-nav-divider"></li>
              <li><%= link_to 'カート', cart_path(current_cart) %></li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="uk-container">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>

      <div class="uk-position-bottom">
        <div class="uk-card uk-card-default">
          <div class="uk-card-footer">
            <p>© 2021, Omiyage.com</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
